body{
    min-height: 100vh;
    background-color: #4323;
    color: #ffffff;
}

.header {
    height: 25vh;
}

.footer {
    height: 25vh;
}

.mainheading{
    height: 15vh;
    text-align: center;
    font-family: Arial;
}

.button{
    overflow: hidden;
    background-color: #5c6bc0;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    width: 120px;
    margin: auto;
}



