body{
    background-color: #FFE6CC;
    color: #ffffff;
    padding: 10px;
    font-family: Arial;
}

header{
    padding: 30px;
    text-align: center;
    background-color: #3D53F4;
}

.card{
    padding: 15px;
    margin-top: 10px;
    background-color: red;
}