.mainheading{
    text-align: center;
    background-color: #ab000d;
    font-family: Arial;
}
/* navbar container */
.navbar{
    overflow: hidden;
    background-color: #e53935;
    font-family: Arial;
}

.navbar a{
    float: left;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    padding: 8px 10px;
}

.navbar a:hover{
    background-color: #8e99f3;
    color: #ffffff;
}